@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #c5e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.area-calculadora {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    width: 700px;
    max-width: 700px; 
    height: 300px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
}

.section1, .section2 {
    flex: 1;
}

.div-input {
    margin-top: 10px;
}

.div-input p {
    margin-left: 40px;
}

.input {
    margin: auto;
    max-width: 350px; 
    height: 50px;
    background-color: #f3f9f9;
    display: flex;
    margin-left: 10px;
}

.cifrao {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 5px;
    font-size: 1.4em;
    color: #c4d9da;
    flex:1 ;
}

.price-visible {
    flex: 1;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price-visible p {
    margin-right: 10px;
    font-size: 1.5em;
}

.section-percent {
    margin-top: 30px;
}

.section-percent p {
    margin-left: 30px;
    margin-bottom: 5px;
}


.area-percent {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    height: 100px;
    gap: 10px;
    justify-content: center;
}

.item {
    background-color: #00474b;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #FFF;
    cursor: pointer;
}




.item3 {
    background-color: #26c2ad;
    color: #000;
}


.item6 {
    background-color: #f3f8fb;
    color: #517374;
}



.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bkg-green {
    background-color: #00474b;
    height: 280px;
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
}

.section-2-input {
    display: flex;
    justify-content: center;
}

.section-2-input input {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.294);
    background-color: #00474b;
    color: #32b9ab;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

.calcular {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.calcular button {
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
    background-color: #26c2ad;
    outline: 0px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.431);
    color: #fff;
    font-size: 1.2em;
    border-radius: 10px;
}

.price-visible {
    font-size: 1.5em;
}

.selecionado {
    background-color: #FF0000;
}

.opcional {
    margin-top: 20px;
    display: flex;
}

.opcional p {
    font-size: 1.0em;
}

.opcional input {
    margin-left: 2px;
    outline: 0px;
    text-align: center;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
}

.flex {
    display: none;
}


@media only screen and (max-width: 670px){
    .input {
        margin-right: 20px;
        margin-left: 20px;
    }
  
   .calcular button {
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .area-calculadora {
       width: 350px;
       flex-direction: column;
       height: 650px;
   }
   .area-percent {
    grid-template-columns: repeat(3, 80px);
   }
   .opcional {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin-bottom: 10px;
   }
   .block {
       display: none;
   }
   .flex {
       display: flex;
       text-transform: uppercase;
       font-weight: bold;
   }
   p.block1 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
   }
   .bkg-green {
       width: 300px;
   }
}
}



@media only screen and (max-width: 420px){

    .input {
        margin-right: 20px;
        margin-left: 20px;
    }
  
   .calcular button {
       margin-top: 10px;
       margin-bottom: 10px;
   }
   .area-calculadora {
       width: 350px;
       flex-direction: column;
   }
   .area-percent {
    grid-template-columns: repeat(3, 80px);
   }
   .opcional {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin-bottom: 10px;
   }
   .block {
       display: none;
   }
   .flex {
       display: flex;
       text-transform: uppercase;
       font-weight: bold;
   }
   p.block1 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
   }
   .bkg-green {
       width: 300px;
   }
}

@media only screen and (max-width: 320px){
    .area-calculadora {
        padding: 20px;
        width: 350px;
        flex-direction: column;
        height: 880px;
    }

    .bkg-green {
        width: 300px;
        height: 200px;
    }
    .calcular {
       position: relative;
       bottom: 25px;
    }
}